.umb-grid
    .mdl-grid.v-landingPage
        .mdl-cell.mdl-cell--12-col
            .blogpost--date May 17, 2016
            h1.mdl-typography--display-1.blogpost--title How to Write a Blog Post: A Simple Formula +5 Free Blog Post Templates
            p.blogpost--author Written By
                span.blogpost--author-name  Vanda Kujbus
        .mdl-cell.mdl-cell--12-col
            img(src="img/blog/blog.jpg")
.umb-grid
    .mdl-grid
        .mdl-cell.mdl-cell--12-col.blogpost--body
            p You've probably heard how paramount blogging is to the success of your marketing. Without it, your SEO will tank, you'll have nothing to promote in social media, you'll have no clout with your leads and customers, and you'll have fewer pages to put those valuable calls-to-action that generate inbound leads. Need I say more?
            blockquote(cite="http://google.com") So why, oh why, does almost every marketer I talk to have a laundry list of excuses for why they can't consistently blog? Maybe because, unless you're one of the few people who actually like writing, business blogging kind of stinks. You have to find words, string them together into sentences, and ughhh where do you even start?
            p Well my friend, the time for excuses is over.
            p After you read this post, there will be absolutely no reason you can't <strong>blog every single day</strong> -- and do it quickly. Not only am I about to provide you with a simple blogging formula to follow, but I'm also going to give you
                a &nbsp; free templates for creating five different types of blog posts:
            ul
                li The How-To Post
                li The List-Based Post
                li The Curated Collection Post
                li The SlideShare Presentation Post
                li The Newsjacking Post
            q With all this blogging how-to, literally anyone can blog as long as they truly know the subject matter they're writing about. And since you're an expert in your industry, there's no longer any reason you can't sit down every day and hammer out an excellent blog post.
            h2.mdl-typography--headline How to Write a Blog Post: A Simple Formula to Follow
            h3.mdl-typography--title Step 1: Understand your audience.
            p Before you start to write, have a clear understanding of your target audience. What do they want to know about? What will resonate with them? This is where creating your buyer personas comes in handy. Consider what you know about your buyer personas and their interests while you're coming up with a topic for your blog post.
            h4.mdl-typography--subhead Step 1: Understand your audience.